<?xml version="1.0"?>
<model>
  <name>SIC</name>
  <version>1.0</version>
  <sdf version="1.5">sicdrone.sdf</sdf>

  <author>
   <name>Briana Ross</name>
   <email>briana@sicdrone.com</email>
   <name>Aleksander Gerard-Ursin</name>
   <email>aleksander@sicdrone.com</email>
  </author>

  <description>
    This is a model of the SICDrone meant to work with the ardupilot gazebo plugin
  </description>
</model>
